<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2ETPUM3G6l9Pe3VTHbMbx_yfLk5KqZ_kU9w&usqp=CAU"
          alt=""
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-sucess text-center ms-2">Featured</small>
          <small class="bg-light text-info text-center ms-2"
            >Views - 100,256</small
          >
          <small class="bg-light text-warning text-center ms-2"
            >LAST UPDATED</small
          >

          <h1 class="mt-3 mb-3">HOW TO START A BLOG</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            inventore officiis asperiores, ad ex quia aut dolorem nesciunt
            corrupti ut consequuntur facere ab dolor quod incidunt sint laborum
            pariatur repudiandae dolores fugit possimus qui nulla quo. Quibusdam
            optio dignissimos obcaecati doloremque totam voluptatibus, ducimus
            vitae quis. Cum aperiam nostrum temporibus.
          </p>
        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>

    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
