<div class="card shadow-effect">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2ETPUM3G6l9Pe3VTHbMbx_yfLk5KqZ_kU9w&usqp=CAU"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ms-3">Featued</small>
    <small class="bg-light text-info text-center ms-3">Views</small>

    <h5 class="mt-1">HOW TO START A BLOG</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      nobis similique accusantium repudiandae, dignissimos adipisci? Minus
      accusamus molestias et illo.
    </p>

    <small class="bg-light text-warning text-center ml-3">LAST UPDATED</small>

  </div>
</div>
